---
import HomeItem from '../components/HomeItem.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Carousel from '../components/Carousel/Carousel.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
  <Header />
  <section
    class="flex flex-col px-6 md:px-0 gap-6 md:gap-52 container mx-auto my-12 md:mb-28"
  >
    <HomeItem
      title={t('home.how-work.title')}
      content={t('home.how-work.body')}
      index={1}
    />
    <HomeItem
      title={t('home.ingredients.title')}
      content={t('home.ingredients.body')}
      inverted
      index={2}
    />
  </section>
  <section class="container mx-auto my-16 px-6 md:px-0">
    <Carousel />
  </section>
  <script>
    import '../scripts/carousel.ts'
  </script>
</BaseLayout>
