---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<nav>
  <ul>
    <li>
      <a href={translatePath('/')}>{t('nav.home')}</a>
    </li>
    <li>
      <a href={translatePath('/menu')}>{t('nav.menu')}</a>
    </li>
  </ul>
</nav>
